<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IDS User Study</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <style>
        html,
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .page {
            margin: 40px auto;
            width: 80%;
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <!-- INTRODUCTION PART : Shown first -->
    <div class="intro page">
        <div class="sticky_header" style="position: sticky; top:24px; z-index:100; background-color:white;">
          <h1> Testing User Experience of Reading Article on the Web </h1>
          <label for="name"> Participant <b>Prolific ID</b>:</label>
          <input type="text" id="pID" name="pID" required size="20">
          <button onclick="downloadBlob()"> Export as CSV </button>
          <br><br><br>
          <label for="ds">Choose DS:</label>
          <select name="ds" id="ds" onchange="onChange1()">
            <option value="urb">1: Urbanizaion</option>
            <option value="hap">2: Happiness</option>
            <option value="snp">3: COVID S&P</option>
            <option value="mor">4: Mortality Rate</option>
          </select>
          <label for="condition">Choose Condition:</label>
          <select name="condition" id="condition" onchange="onChange2()">
            <option value="SA">Static vs Animated</option>
            <option value="SI">Static vs Immersive</option>
            <option value="AI">Animated vs Immersive</option>
          </select>
        </div>
        <br><br><br>
        <div style="width: fit-content; display:flex; flex-direction:row; line-height: 1.5em">
          <img class="quiz1" src="/Quiz1.JPG" alt="Quiz1" width="800px" height="1200px">
          <div style="margin: 0px 20px"></div>
          <ul style="font-size:16px; line-height:1.5em;">
            {% for d in data1[:90] %}
              <li>{{ d.Json["M1-1"] }} / {{ d.Json["M2"] }} / {{ d.Json["M3"] }}</li>
            {% endfor %}
          </ul>
          <div style="margin: 0px 20px">
            <div id="plot_M1"></div>
            <div id="plot_M2"></div>
            <div id="plot_M3"></div>
          </div>
        </div>
        <div style="width: fit-content; display:flex; flex-direction:row; line-height: 1.5em">
          <div id="plot_M111"></div>
          <div id="plot_M112"></div>
          <div id="plot_M121"></div>
          <div id="plot_M122"></div>
          <div id="plot_M131"></div>
          <div id="plot_M132"></div>
        </div>
        <div style="width: fit-content; display:flex; flex-direction:row; line-height: 1.5em">
          <div style="width: 16vw; margin-right: 1vw">
            <h3> Interest </h3>
            <div id="plot_int"></div>
            <ul id="list_int">
              {% for item in UCS_int %}
                <li>{{ item["score"] }}, {{ item["DS_Task"] }} : <br> {{ item["comment"] }}</li> <br>
              {% endfor %}
            </ul>
          </div>
          <div style="width: 16vw; margin-right: 1vw">
            <h3> Easy to Understand </h3>
            <div id="plot_eas"></div>
            <ul id="list_eas">
              {% for item in UCS_eas %}
                <li>{{ item["score"] }}, {{ item["DS_Task"] }} : <br> {{ item["comment"] }}</li> <br>
              {% endfor %}
            </ul>
          </div>
          <div style="width: 16vw; margin-right: 1vw">
            <h3> Persuasive </h3>
            <div id="plot_per"></div>
            <ul id="list_per">
              {% for item in UCS_per %}
                <li>{{ item["score"] }}, {{ item["DS_Task"] }} : <br> {{ item["comment"] }}</li> <br>
              {% endfor %}
            </ul>
          </div>
          <div style="width: 16vw; margin-right: 1vw">
            <h3> Trustworthy </h3>
            <div id="plot_tru"></div>
            <ul id="list_tru">
              {% for item in UCS_tru %}
                <li>{{ item["score"] }}, {{ item["DS_Task"] }} : <br> {{ item["comment"] }}</li> <br>
              {% endfor %}
            </ul>
          </div>
          <div style="width: 16vw; margin-right: 1vw">
            <h3> Curious </h3>
            <div id="plot_cur"></div>
            <ul id="list_cur">
              {% for item in UCS_cur %}
                <li>{{ item["score"] }}, {{ item["DS_Task"] }} : <br> {{ item["comment"] }}</li> <br>
              {% endfor %}
            </ul>
          </div>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <center>
          <button onclick="start()" style="font-size:24px;">
              Start Task
          </button>
        </center>

        <script>
          const hist_int = document.getElementById('plot_int');
          const hist_eas = document.getElementById('plot_eas');
          const hist_per = document.getElementById('plot_per');
          const hist_tru = document.getElementById('plot_tru');
          const hist_cur = document.getElementById('plot_cur');

          const list_int = document.getElementById('list_int');
          const list_eas = document.getElementById('list_eas');
          const list_per = document.getElementById('list_per');
          const list_tru = document.getElementById('list_tru');
          const list_cur = document.getElementById('list_cur');

          let ds = 0;
          let condition = 0;
          let ds0 = {
            int:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            eas:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            per:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            tru:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            cur:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
          };
          let ds1 = {
            int:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            eas:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            per:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            tru:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            cur:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
          };
          let ds2 = {
            int:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            eas:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            per:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            tru:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
            cur:{
              cond_100_101: [],
              cond_100_110: [],
              cond_101_110: [],
            },
          };

          const ucs_int = {{ UCS_int | tojson }};
          for(let i=0; i<ucs_int.length; i++){
            if(ucs_int[i].DS == 0){
              if(ucs_int[i].DS_Task.includes('100') && ucs_int[i].DS_Task.includes('101')){
                ds0.int.cond_100_101.push(ucs_int[i].DS_Task.includes('100/')?ucs_int[i].score:-ucs_int[i].score);
              }else if(ucs_int[i].DS_Task.includes('100') && ucs_int[i].DS_Task.includes('110')){
                ds0.int.cond_100_110.push(ucs_int[i].DS_Task.includes('100/')?ucs_int[i].score:-ucs_int[i].score);
              }else if(ucs_int[i].DS_Task.includes('101') && ucs_int[i].DS_Task.includes('110')){
                ds0.int.cond_101_110.push(ucs_int[i].DS_Task.includes('101/')?ucs_int[i].score:-ucs_int[i].score);
              }
            }else if(ucs_int[i].DS == 1){
              if(ucs_int[i].DS_Task.includes('100') && ucs_int[i].DS_Task.includes('101')){
                ds1.int.cond_100_101.push(ucs_int[i].DS_Task.includes('100/')?ucs_int[i].score:-ucs_int[i].score);
              }else if(ucs_int[i].DS_Task.includes('100') && ucs_int[i].DS_Task.includes('110')){
                ds1.int.cond_100_110.push(ucs_int[i].DS_Task.includes('100/')?ucs_int[i].score:-ucs_int[i].score);
              }else if(ucs_int[i].DS_Task.includes('101') && ucs_int[i].DS_Task.includes('110')){
                ds1.int.cond_101_110.push(ucs_int[i].DS_Task.includes('101/')?ucs_int[i].score:-ucs_int[i].score);
              }
            }else if(ucs_int[i].DS == 2){
              if(ucs_int[i].DS_Task.includes('100') && ucs_int[i].DS_Task.includes('101')){
                ds2.int.cond_100_101.push(ucs_int[i].DS_Task.includes('100/')?ucs_int[i].score:-ucs_int[i].score);
              }else if(ucs_int[i].DS_Task.includes('100') && ucs_int[i].DS_Task.includes('110')){
                ds2.int.cond_100_110.push(ucs_int[i].DS_Task.includes('100/')?ucs_int[i].score:-ucs_int[i].score);
              }else if(ucs_int[i].DS_Task.includes('101') && ucs_int[i].DS_Task.includes('110')){
                ds2.int.cond_101_110.push(ucs_int[i].DS_Task.includes('101/')?ucs_int[i].score:-ucs_int[i].score);
              }
            }
          }
          const ucs_eas = {{ UCS_eas | tojson }};
          for(let i=0; i<ucs_eas.length; i++){
            if(ucs_eas[i].DS == 0){
              if(ucs_eas[i].DS_Task.includes('100') && ucs_eas[i].DS_Task.includes('101')){
                ds0.eas.cond_100_101.push(ucs_eas[i].DS_Task.includes('100/')?ucs_eas[i].score:-ucs_eas[i].score);
              }else if(ucs_eas[i].DS_Task.includes('100') && ucs_eas[i].DS_Task.includes('110')){
                ds0.eas.cond_100_110.push(ucs_eas[i].DS_Task.includes('100/')?ucs_eas[i].score:-ucs_eas[i].score);
              }else if(ucs_eas[i].DS_Task.includes('101') && ucs_eas[i].DS_Task.includes('110')){
                ds0.eas.cond_101_110.push(ucs_eas[i].DS_Task.includes('101/')?ucs_eas[i].score:-ucs_eas[i].score);
              }
            }else if(ucs_eas[i].DS == 1){
              if(ucs_eas[i].DS_Task.includes('100') && ucs_eas[i].DS_Task.includes('101')){
                ds1.eas.cond_100_101.push(ucs_eas[i].DS_Task.includes('100/')?ucs_eas[i].score:-ucs_eas[i].score);
              }else if(ucs_eas[i].DS_Task.includes('100') && ucs_eas[i].DS_Task.includes('110')){
                ds1.eas.cond_100_110.push(ucs_eas[i].DS_Task.includes('100/')?ucs_eas[i].score:-ucs_eas[i].score);
              }else if(ucs_eas[i].DS_Task.includes('101') && ucs_eas[i].DS_Task.includes('110')){
                ds1.eas.cond_101_110.push(ucs_eas[i].DS_Task.includes('101/')?ucs_eas[i].score:-ucs_eas[i].score);
              }
            }
            else if(ucs_eas[i].DS == 2){
              if(ucs_eas[i].DS_Task.includes('100') && ucs_eas[i].DS_Task.includes('101')){
                ds2.eas.cond_100_101.push(ucs_eas[i].DS_Task.includes('100/')?ucs_eas[i].score:-ucs_eas[i].score);
              }else if(ucs_eas[i].DS_Task.includes('100') && ucs_eas[i].DS_Task.includes('110')){
                ds2.eas.cond_100_110.push(ucs_eas[i].DS_Task.includes('100/')?ucs_eas[i].score:-ucs_eas[i].score);
              }else if(ucs_eas[i].DS_Task.includes('101') && ucs_eas[i].DS_Task.includes('110')){
                ds2.eas.cond_101_110.push(ucs_eas[i].DS_Task.includes('101/')?ucs_eas[i].score:-ucs_eas[i].score);
              }
            }
          }
          const ucs_per = {{ UCS_per | tojson }};
          for(let i=0; i<ucs_per.length; i++){
            if(ucs_per[i].DS == 0){
              if(ucs_per[i].DS_Task.includes('100') && ucs_per[i].DS_Task.includes('101')){
                ds0.per.cond_100_101.push(ucs_per[i].DS_Task.includes('100/')?ucs_per[i].score:-ucs_per[i].score);
              }else if(ucs_per[i].DS_Task.includes('100') && ucs_per[i].DS_Task.includes('110')){
                ds0.per.cond_100_110.push(ucs_per[i].DS_Task.includes('100/')?ucs_per[i].score:-ucs_per[i].score);
              }else if(ucs_per[i].DS_Task.includes('101') && ucs_per[i].DS_Task.includes('110')){
                ds0.per.cond_101_110.push(ucs_per[i].DS_Task.includes('101/')?ucs_per[i].score:-ucs_per[i].score);
              }
            }else if(ucs_per[i].DS == 1){
              if(ucs_per[i].DS_Task.includes('100') && ucs_per[i].DS_Task.includes('101')){
                ds1.per.cond_100_101.push(ucs_per[i].DS_Task.includes('100/')?ucs_per[i].score:-ucs_per[i].score);
              }else if(ucs_per[i].DS_Task.includes('100') && ucs_per[i].DS_Task.includes('110')){
                ds1.per.cond_100_110.push(ucs_per[i].DS_Task.includes('100/')?ucs_per[i].score:-ucs_per[i].score);
              }else if(ucs_per[i].DS_Task.includes('101') && ucs_per[i].DS_Task.includes('110')){
                ds1.per.cond_101_110.push(ucs_per[i].DS_Task.includes('101/')?ucs_per[i].score:-ucs_per[i].score);
              }
            }else if(ucs_per[i].DS == 2){
              if(ucs_per[i].DS_Task.includes('100') && ucs_per[i].DS_Task.includes('101')){
                ds2.per.cond_100_101.push(ucs_per[i].DS_Task.includes('100/')?ucs_per[i].score:-ucs_per[i].score);
              }else if(ucs_per[i].DS_Task.includes('100') && ucs_per[i].DS_Task.includes('110')){
                ds2.per.cond_100_110.push(ucs_per[i].DS_Task.includes('100/')?ucs_per[i].score:-ucs_per[i].score);
              }else if(ucs_per[i].DS_Task.includes('101') && ucs_per[i].DS_Task.includes('110')){
                ds2.per.cond_101_110.push(ucs_per[i].DS_Task.includes('101/')?ucs_per[i].score:-ucs_per[i].score);
              }
            }
          }
          const ucs_tru = {{ UCS_tru | tojson }};
          for(let i=0; i<ucs_tru.length; i++){
            if(ucs_tru[i].DS == 0){
              if(ucs_tru[i].DS_Task.includes('100') && ucs_tru[i].DS_Task.includes('101')){
                ds0.tru.cond_100_101.push(ucs_tru[i].DS_Task.includes('100/')?ucs_tru[i].score:-ucs_tru[i].score);
              }else if(ucs_tru[i].DS_Task.includes('100') && ucs_tru[i].DS_Task.includes('110')){
                ds0.tru.cond_100_110.push(ucs_tru[i].DS_Task.includes('100/')?ucs_tru[i].score:-ucs_tru[i].score);
              }else if(ucs_tru[i].DS_Task.includes('101') && ucs_tru[i].DS_Task.includes('110')){
                ds0.tru.cond_101_110.push(ucs_tru[i].DS_Task.includes('101/')?ucs_tru[i].score:-ucs_tru[i].score);
              }
            }else if(ucs_tru[i].DS == 1){
              if(ucs_tru[i].DS_Task.includes('100') && ucs_tru[i].DS_Task.includes('101')){
                ds1.tru.cond_100_101.push(ucs_tru[i].DS_Task.includes('100/')?ucs_tru[i].score:-ucs_tru[i].score);
              }else if(ucs_tru[i].DS_Task.includes('100') && ucs_tru[i].DS_Task.includes('110')){
                ds1.tru.cond_100_110.push(ucs_tru[i].DS_Task.includes('100/')?ucs_tru[i].score:-ucs_tru[i].score);
              }else if(ucs_tru[i].DS_Task.includes('101') && ucs_tru[i].DS_Task.includes('110')){
                ds1.tru.cond_101_110.push(ucs_tru[i].DS_Task.includes('101/')?ucs_tru[i].score:-ucs_tru[i].score);
              }
            }else if(ucs_tru[i].DS == 2){
              if(ucs_tru[i].DS_Task.includes('100') && ucs_tru[i].DS_Task.includes('101')){
                ds2.tru.cond_100_101.push(ucs_tru[i].DS_Task.includes('100/')?ucs_tru[i].score:-ucs_tru[i].score);
              }else if(ucs_tru[i].DS_Task.includes('100') && ucs_tru[i].DS_Task.includes('110')){
                ds2.tru.cond_100_110.push(ucs_tru[i].DS_Task.includes('100/')?ucs_tru[i].score:-ucs_tru[i].score);
              }else if(ucs_tru[i].DS_Task.includes('101') && ucs_tru[i].DS_Task.includes('110')){
                ds2.tru.cond_101_110.push(ucs_tru[i].DS_Task.includes('101/')?ucs_tru[i].score:-ucs_tru[i].score);
              }
            }
          }
          const ucs_cur = {{ UCS_cur | tojson }};
          for(let i=0; i<ucs_cur.length; i++){
            if(ucs_cur[i].DS == 0){
              if(ucs_cur[i].DS_Task.includes('100') && ucs_cur[i].DS_Task.includes('101')){
                ds0.cur.cond_100_101.push(ucs_cur[i].DS_Task.includes('100/')?ucs_cur[i].score:-ucs_cur[i].score);
              }else if(ucs_cur[i].DS_Task.includes('100') && ucs_cur[i].DS_Task.includes('110')){
                ds0.cur.cond_100_110.push(ucs_cur[i].DS_Task.includes('100/')?ucs_cur[i].score:-ucs_cur[i].score);
              }else if(ucs_cur[i].DS_Task.includes('101') && ucs_cur[i].DS_Task.includes('110')){
                ds0.cur.cond_101_110.push(ucs_cur[i].DS_Task.includes('101/')?ucs_cur[i].score:-ucs_cur[i].score);
              }
            }else if(ucs_cur[i].DS == 1){
              if(ucs_cur[i].DS_Task.includes('100') && ucs_cur[i].DS_Task.includes('101')){
                ds1.cur.cond_100_101.push(ucs_cur[i].DS_Task.includes('100/')?ucs_cur[i].score:-ucs_cur[i].score);
              }else if(ucs_cur[i].DS_Task.includes('100') && ucs_cur[i].DS_Task.includes('110')){
                ds1.cur.cond_100_110.push(ucs_cur[i].DS_Task.includes('100/')?ucs_cur[i].score:-ucs_cur[i].score);
              }else if(ucs_cur[i].DS_Task.includes('101') && ucs_cur[i].DS_Task.includes('110')){
                ds1.cur.cond_101_110.push(ucs_cur[i].DS_Task.includes('101/')?ucs_cur[i].score:-ucs_cur[i].score);
              }
            }else if(ucs_cur[i].DS == 2){
              console.log(ucs_cur[i]);
              if(ucs_cur[i].DS_Task.includes('100') && ucs_cur[i].DS_Task.includes('101')){
                ds2.cur.cond_100_101.push(ucs_cur[i].DS_Task.includes('100/')?ucs_cur[i].score:-ucs_cur[i].score);
              }else if(ucs_cur[i].DS_Task.includes('100') && ucs_cur[i].DS_Task.includes('110')){
                ds2.cur.cond_100_110.push(ucs_cur[i].DS_Task.includes('100/')?ucs_cur[i].score:-ucs_cur[i].score);
              }else if(ucs_cur[i].DS_Task.includes('101') && ucs_cur[i].DS_Task.includes('110')){
                ds2.cur.cond_101_110.push(ucs_cur[i].DS_Task.includes('101/')?ucs_cur[i].score:-ucs_cur[i].score);
              }
            }
          }
          const layout = {
            barmode:"overlay",
            xaxis: { fixedrange: true, range: [-3.5, 3.5], showticklabels: true },
            yaxis: { fixedrange: true, range: [0, 20] }
          };

          // console.log(ucs_int);
          // console.log(ucs_eas);
          // console.log(ucs_per);
          // console.log(ucs_tru);
          // console.log(ucs_cur);
          // console.log({{ data3 | tojson }});

          function drawPlots(){
            data_ds = ds==0?ds0.int:ds==1?ds1.int:ds2.int;
            data_condition = condition==0?data_ds.cond_100_101:condition==1?data_ds.cond_100_110:data_ds.cond_101_110;
            Plotly.newPlot(hist_int, [{
              x: data_condition,
              type: 'histogram', opacity: 0.5, autobinx: false, histnorm: "count", marker:{ color: 'green' }, xbins: { end: 3.5, size: 1, start: -3.5 }
            }], layout);
            data_ds = ds==0?ds0.eas:ds==1?ds1.eas:ds2.eas;
            data_condition = condition==0?data_ds.cond_100_101:condition==1?data_ds.cond_100_110:data_ds.cond_101_110;
            Plotly.newPlot(hist_eas, [{
              x: data_condition,
              type: 'histogram', opacity: 0.5, autobinx: false, histnorm: "count", marker:{ color: 'green' }, xbins: { end: 3.5, size: 1, start: -3.5 }
            }], layout);
            data_ds = ds==0?ds0.per:ds==1?ds1.per:ds2.per;
            data_condition = condition==0?data_ds.cond_100_101:condition==1?data_ds.cond_100_110:data_ds.cond_101_110;
            Plotly.newPlot(hist_per, [{
              x: data_condition,
              type: 'histogram', opacity: 0.5, autobinx: false, histnorm: "count", marker:{ color: 'green' }, xbins: { end: 3.5, size: 1, start: -3.5 }
            }], layout);
            data_ds = ds==0?ds0.tru:ds==1?ds1.tru:ds2.tru;
            data_condition = condition==0?data_ds.cond_100_101:condition==1?data_ds.cond_100_110:data_ds.cond_101_110;
            Plotly.newPlot(hist_tru, [{
              x: data_condition,
              type: 'histogram', opacity: 0.5, autobinx: false, histnorm: "count", marker:{ color: 'green' }, xbins: { end: 3.5, size: 1, start: -3.5 }
            }], layout);
            data_ds = ds==0?ds0.cur:ds==1?ds1.cur:ds2.cur;
            data_condition = condition==0?data_ds.cond_100_101:condition==1?data_ds.cond_100_110:data_ds.cond_101_110;
            Plotly.newPlot(hist_cur, [{
              x: data_condition,
              type: 'histogram', opacity: 0.5, autobinx: false, histnorm: "count", marker:{ color: 'green' }, xbins: { end: 3.5, size: 1, start: -3.5 }
            }], layout);
          }

          function changeLists(){
            list_int.innerHTML = "";
            list_eas.innerHTML = "";
            list_per.innerHTML = "";
            list_tru.innerHTML = "";
            list_cur.innerHTML = "";

            let list_int_arr = [];
            for(let i=0; i<ucs_int.length; i++){
              if(ucs_int[i].DS == ds){
                if(condition == 0 && ucs_int[i].DS_Task.includes('100') && ucs_int[i].DS_Task.includes('101')){
                  list_int_arr.push([
                    "<li>" + String(ucs_int[i].FirstTask==100?ucs_int[i].score:-ucs_int[i].score) + ": " + ucs_int[i].comment + "</li>", ucs_int[i].FirstTask==100?ucs_int[i].score:-ucs_int[i].score
                  ])
                }else if(condition == 1 && ucs_int[i].DS_Task.includes('100') && ucs_int[i].DS_Task.includes('110')){
                  list_int_arr.push([
                    "<li>" + String(ucs_int[i].FirstTask==100?ucs_int[i].score:-ucs_int[i].score) + ": " + ucs_int[i].comment + "</li>", ucs_int[i].FirstTask==100?ucs_int[i].score:-ucs_int[i].score
                  ])
                }else if(condition == 2 && ucs_int[i].DS_Task.includes('101') && ucs_int[i].DS_Task.includes('110')){
                  list_int_arr.push([
                    "<li>" + String(ucs_int[i].FirstTask==101?ucs_int[i].score:-ucs_int[i].score) + ": " + ucs_int[i].comment + "</li>", ucs_int[i].FirstTask==101?ucs_int[i].score:-ucs_int[i].score
                  ])
                }
              }
            }
            list_int_arr.sort((a, b)=>{
              return b[1]-a[1];
            });
            for(let i=0; i<list_int_arr.length; i++){
              list_int.innerHTML += list_int_arr[i][0];
            }

            let list_eas_arr = [];
            for(let i=0; i<ucs_eas.length; i++){
              if(ucs_eas[i].DS == ds){
                if(condition == 0 && ucs_eas[i].DS_Task.includes('100') && ucs_eas[i].DS_Task.includes('101')){
                  list_eas_arr.push([
                    "<li>" + String(ucs_eas[i].FirstTask==100?ucs_eas[i].score:-ucs_eas[i].score) + ": " + ucs_eas[i].comment + "</li>", ucs_eas[i].FirstTask==100?ucs_eas[i].score:-ucs_eas[i].score
                  ])
                }else if(condition == 1 && ucs_eas[i].DS_Task.includes('100') && ucs_eas[i].DS_Task.includes('110')){
                  list_eas_arr.push([
                    "<li>" + String(ucs_eas[i].FirstTask==100?ucs_eas[i].score:-ucs_eas[i].score) + ": " + ucs_eas[i].comment + "</li>", ucs_eas[i].FirstTask==100?ucs_eas[i].score:-ucs_eas[i].score
                  ])
                }else if(condition == 2 && ucs_eas[i].DS_Task.includes('101') && ucs_eas[i].DS_Task.includes('110')){
                  list_eas_arr.push([
                    "<li>" + String(ucs_eas[i].FirstTask==101?ucs_eas[i].score:-ucs_eas[i].score) + ": " + ucs_eas[i].comment + "</li>", ucs_eas[i].FirstTask==101?ucs_eas[i].score:-ucs_eas[i].score
                  ])
                }
              }
            }
            list_eas_arr.sort((a, b)=>{
              return b[1]-a[1];
            });
            for(let i=0; i<list_eas_arr.length; i++){
              list_eas.innerHTML += list_eas_arr[i][0];
            }

            let list_per_arr = [];
            for(let i=0; i<ucs_per.length; i++){
              if(ucs_per[i].DS == ds){
                if(condition == 0 && ucs_per[i].DS_Task.includes('100') && ucs_per[i].DS_Task.includes('101')){
                  list_per_arr.push([
                    "<li>" + String(ucs_per[i].FirstTask==100?ucs_per[i].score:-ucs_per[i].score) + ": " + ucs_per[i].comment + "</li>", ucs_per[i].FirstTask==100?ucs_per[i].score:-ucs_per[i].score
                  ])
                }else if(condition == 1 && ucs_per[i].DS_Task.includes('100') && ucs_per[i].DS_Task.includes('110')){
                  list_per_arr.push([
                    "<li>" + String(ucs_per[i].FirstTask==100?ucs_per[i].score:-ucs_per[i].score) + ": " + ucs_per[i].comment + "</li>", ucs_per[i].FirstTask==100?ucs_per[i].score:-ucs_per[i].score
                  ])
                }else if(condition == 2 && ucs_per[i].DS_Task.includes('101') && ucs_per[i].DS_Task.includes('110')){
                  list_per_arr.push([
                    "<li>" + String(ucs_per[i].FirstTask==101?ucs_per[i].score:-ucs_per[i].score) + ": " + ucs_per[i].comment + "</li>", ucs_per[i].FirstTask==101?ucs_per[i].score:-ucs_per[i].score
                  ])
                }
              }
            }
            list_per_arr.sort((a, b)=>{
              return b[1]-a[1];
            });
            for(let i=0; i<list_per_arr.length; i++){
              list_per.innerHTML += list_per_arr[i][0];
            }

            let list_tru_arr = [];
            for(let i=0; i<ucs_tru.length; i++){
              if(ucs_tru[i].DS == ds){
                if(condition == 0 && ucs_tru[i].DS_Task.includes('100') && ucs_tru[i].DS_Task.includes('101')){
                  list_tru_arr.push([
                    "<li>" + String(ucs_tru[i].FirstTask==100?ucs_tru[i].score:-ucs_tru[i].score) + ": " + ucs_tru[i].comment + "</li>", ucs_tru[i].FirstTask==100?ucs_tru[i].score:-ucs_tru[i].score
                  ])
                }else if(condition == 1 && ucs_tru[i].DS_Task.includes('100') && ucs_tru[i].DS_Task.includes('110')){
                  list_tru_arr.push([
                    "<li>" + String(ucs_tru[i].FirstTask==100?ucs_tru[i].score:-ucs_tru[i].score) + ": " + ucs_tru[i].comment + "</li>", ucs_tru[i].FirstTask==100?ucs_tru[i].score:-ucs_tru[i].score
                  ])
                }else if(condition == 2 && ucs_tru[i].DS_Task.includes('101') && ucs_tru[i].DS_Task.includes('110')){
                  list_tru_arr.push([
                    "<li>" + String(ucs_tru[i].FirstTask==101?ucs_tru[i].score:-ucs_tru[i].score) + ": " + ucs_tru[i].comment + "</li>", ucs_tru[i].FirstTask==101?ucs_tru[i].score:-ucs_tru[i].score
                  ])
                }
              }
            }
            list_tru_arr.sort((a, b)=>{
              return b[1]-a[1];
            });
            for(let i=0; i<list_tru_arr.length; i++){
              list_tru.innerHTML += list_tru_arr[i][0];
            }

            let list_cur_arr = [];
            for(let i=0; i<ucs_cur.length; i++){
              if(ucs_cur[i].DS == ds){
                if(condition == 0 && ucs_cur[i].DS_Task.includes('100') && ucs_cur[i].DS_Task.includes('101')){
                  list_cur_arr.push([
                    "<li>" + String(ucs_cur[i].FirstTask==100?ucs_cur[i].score:-ucs_cur[i].score) + ": " + ucs_cur[i].comment + "</li>", ucs_cur[i].FirstTask==100?ucs_cur[i].score:-ucs_cur[i].score
                  ])
                }else if(condition == 1 && ucs_cur[i].DS_Task.includes('100') && ucs_cur[i].DS_Task.includes('110')){
                  list_cur_arr.push([
                    "<li>" + String(ucs_cur[i].FirstTask==100?ucs_cur[i].score:-ucs_cur[i].score) + ": " + ucs_cur[i].comment + "</li>", ucs_cur[i].FirstTask==100?ucs_cur[i].score:-ucs_cur[i].score
                  ])
                }else if(condition == 2 && ucs_cur[i].DS_Task.includes('101') && ucs_cur[i].DS_Task.includes('110')){
                  list_cur_arr.push([
                    "<li>" + String(ucs_cur[i].FirstTask==101?ucs_cur[i].score:-ucs_cur[i].score) + ": " + ucs_cur[i].comment + "</li>", ucs_cur[i].FirstTask==101?ucs_cur[i].score:-ucs_cur[i].score
                  ])
                }
              }
            }
            list_cur_arr.sort((a, b)=>{
              return b[1]-a[1];
            });
            for(let i=0; i<list_cur_arr.length; i++){
              list_cur.innerHTML += list_cur_arr[i][0];
            }
          }

          function onChange1(){
            ds = document.getElementById('ds').selectedIndex;
            drawPlots();
            changeLists();
          }

          function onChange2(){
            condition = document.getElementById('condition').selectedIndex;
            drawPlots();
            changeLists();
          }

          // baseline chart = ds0_Stt_Anm
          drawPlots()
          changeLists();

          function dataToArray(){
            const demos = {{ data3 | tojson }};
            let result = [["ID", "AGE", "English Reading Proficiency", "Number of Articles Reading on Web", "Gender", "Highest Educational Level", "DS##", "Cond_1", "CondCode_1", "Cond_2", "CondCode_2", "FirstSeen", "Score", "Factor", "Comment"]];
            for(let i=0; i<ucs_int.length; i++){
              let temp = [];
              // ID
              temp.push(ucs_int[i].ID);
              // Demo
              let demo = demos.find(ele => ele.ID == ucs_int[i].ID);
              temp.push(demo!=undefined?demo.Json.AGE:"not found");
              temp.push(demo!=undefined?demo.Json.ERP:"not found");
              temp.push(demo!=undefined?demo.Json.FOW:"not found");
              temp.push(demo!=undefined?demo.Json.GEN:"not found");
              temp.push(demo!=undefined?demo.Json.HEL:"not found");
              // DS##
              temp.push(ucs_int[i].DS);
              // Conds, Score
              if(ucs_int[i].DS_Task.includes('100') && ucs_int[i].DS_Task.includes('101')){
                temp.push("Static");
                temp.push(100);
                temp.push("Animated");
                temp.push(101);
                temp.push(ucs_int[i].DS_Task.includes('100/')?"Static":"Animated");
                temp.push(ucs_int[i].DS_Task.includes('100/')?ucs_int[i].score:-ucs_int[i].score);
              }else if(ucs_int[i].DS_Task.includes('100') && ucs_int[i].DS_Task.includes('110')){
                temp.push("Static");
                temp.push(100);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucs_int[i].DS_Task.includes('100/')?"Static":"Immersive");
                temp.push(ucs_int[i].DS_Task.includes('100/')?ucs_int[i].score:-ucs_int[i].score);
              }else if(ucs_int[i].DS_Task.includes('101') && ucs_int[i].DS_Task.includes('110')){
                temp.push("Animated");
                temp.push(101);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucs_int[i].DS_Task.includes('101/')?"Animated":"Immersive");
                temp.push(ucs_int[i].DS_Task.includes('101/')?ucs_int[i].score:-ucs_int[i].score);
              }
              // Factor
              temp.push("INT");
              // Comment
              temp.push(ucs_int[i].comment);
              result.push(temp);
            }
            for(let i=0; i<ucs_eas.length; i++){
              let temp = [];
              // ID
              temp.push(ucs_eas[i].ID);
              // Demo
              let demo = demos.find(ele => ele.ID == ucs_eas[i].ID);
              temp.push(demo!=undefined?demo.Json.AGE:"not found");
              temp.push(demo!=undefined?demo.Json.ERP:"not found");
              temp.push(demo!=undefined?demo.Json.FOW:"not found");
              temp.push(demo!=undefined?demo.Json.GEN:"not found");
              temp.push(demo!=undefined?demo.Json.HEL:"not found");
              // DS##
              temp.push(ucs_eas[i].DS);
              // Conds, Score
              if(ucs_eas[i].DS_Task.includes('100') && ucs_eas[i].DS_Task.includes('101')){
                temp.push("Static");
                temp.push(100);
                temp.push("Animated");
                temp.push(101);
                temp.push(ucs_int[i].DS_Task.includes('100/')?"Static":"Animated");
                temp.push(ucs_eas[i].DS_Task.includes('100/')?ucs_eas[i].score:-ucs_eas[i].score);
              }else if(ucs_eas[i].DS_Task.includes('100') && ucs_eas[i].DS_Task.includes('110')){
                temp.push("Static");
                temp.push(100);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucs_int[i].DS_Task.includes('100/')?"Static":"Immersive");
                temp.push(ucs_eas[i].DS_Task.includes('100/')?ucs_eas[i].score:-ucs_eas[i].score);
              }else if(ucs_eas[i].DS_Task.includes('101') && ucs_eas[i].DS_Task.includes('110')){
                temp.push("Animated");
                temp.push(101);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucs_int[i].DS_Task.includes('101/')?"Animated":"Immersive");
                temp.push(ucs_eas[i].DS_Task.includes('101/')?ucs_eas[i].score:-ucs_eas[i].score);
              }
              // Factor
              temp.push("EAS");
              // Comment
              temp.push(ucs_eas[i].comment);
              result.push(temp);
            }
            for(let i=0; i<ucs_per.length; i++){
              let temp = [];
              // ID
              temp.push(ucs_per[i].ID);
              // Demo
              let demo = demos.find(ele => ele.ID == ucs_per[i].ID);
              temp.push(demo!=undefined?demo.Json.AGE:"not found");
              temp.push(demo!=undefined?demo.Json.ERP:"not found");
              temp.push(demo!=undefined?demo.Json.FOW:"not found");
              temp.push(demo!=undefined?demo.Json.GEN:"not found");
              temp.push(demo!=undefined?demo.Json.HEL:"not found");
              // DS##
              temp.push(ucs_per[i].DS);
              // Conds, Score
              if(ucs_per[i].DS_Task.includes('100') && ucs_per[i].DS_Task.includes('101')){
                temp.push("Static");
                temp.push(100);
                temp.push("Animated");
                temp.push(101);
                temp.push(ucs_int[i].DS_Task.includes('100/')?"Static":"Animated");
                temp.push(ucs_per[i].DS_Task.includes('100/')?ucs_per[i].score:-ucs_per[i].score);
              }else if(ucs_per[i].DS_Task.includes('100') && ucs_per[i].DS_Task.includes('110')){
                temp.push("Static");
                temp.push(100);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucs_int[i].DS_Task.includes('100/')?"Static":"Immersive");
                temp.push(ucs_per[i].DS_Task.includes('100/')?ucs_per[i].score:-ucs_per[i].score);
              }else if(ucs_per[i].DS_Task.includes('101') && ucs_per[i].DS_Task.includes('110')){
                temp.push("Animated");
                temp.push(101);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucs_int[i].DS_Task.includes('101/')?"Animated":"Immersive");
                temp.push(ucs_per[i].DS_Task.includes('101/')?ucs_per[i].score:-ucs_per[i].score);
              }
              // Factor
              temp.push("PER");
              // Comment
              temp.push(ucs_per[i].comment);
              result.push(temp);
            }
            for(let i=0; i<ucs_tru.length; i++){
              let temp = [];
              // ID
              temp.push(ucs_tru[i].ID);
              // Demo
              let demo = demos.find(ele => ele.ID == ucs_tru[i].ID);
              temp.push(demo!=undefined?demo.Json.AGE:"not found");
              temp.push(demo!=undefined?demo.Json.ERP:"not found");
              temp.push(demo!=undefined?demo.Json.FOW:"not found");
              temp.push(demo!=undefined?demo.Json.GEN:"not found");
              temp.push(demo!=undefined?demo.Json.HEL:"not found");
              // DS##
              temp.push(ucs_tru[i].DS);
              // Conds, Score
              if(ucs_tru[i].DS_Task.includes('100') && ucs_tru[i].DS_Task.includes('101')){
                temp.push("Static");
                temp.push(100);
                temp.push("Animated");
                temp.push(101);
                temp.push(ucs_int[i].DS_Task.includes('100/')?"Static":"Animated");
                temp.push(ucs_tru[i].DS_Task.includes('100/')?ucs_tru[i].score:-ucs_tru[i].score);
              }else if(ucs_tru[i].DS_Task.includes('100') && ucs_tru[i].DS_Task.includes('110')){
                temp.push("Static");
                temp.push(100);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucs_int[i].DS_Task.includes('100/')?"Static":"Immersive");
                temp.push(ucs_tru[i].DS_Task.includes('100/')?ucs_tru[i].score:-ucs_tru[i].score);
              }else if(ucs_tru[i].DS_Task.includes('101') && ucs_tru[i].DS_Task.includes('110')){
                temp.push("Animated");
                temp.push(101);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucs_int[i].DS_Task.includes('101/')?"Animated":"Immersive");
                temp.push(ucs_tru[i].DS_Task.includes('101/')?ucs_tru[i].score:-ucs_tru[i].score);
              }
              // Factor
              temp.push("TRU");
              // Comment
              temp.push(ucs_tru[i].comment);
              result.push(temp);
            }
            for(let i=0; i<ucs_cur.length; i++){
              let temp = [];
              // ID
              temp.push(ucs_cur[i].ID);
              // Demo
              let demo = demos.find(ele => ele.ID == ucs_cur[i].ID);
              temp.push(demo!=undefined?demo.Json.AGE:"not found");
              temp.push(demo!=undefined?demo.Json.ERP:"not found");
              temp.push(demo!=undefined?demo.Json.FOW:"not found");
              temp.push(demo!=undefined?demo.Json.GEN:"not found");
              temp.push(demo!=undefined?demo.Json.HEL:"not found");
              // DS##
              temp.push(ucs_cur[i].DS);
              // Conds, Score
              if(ucs_cur[i].DS_Task.includes('100') && ucs_cur[i].DS_Task.includes('101')){
                temp.push("Static");
                temp.push(100);
                temp.push("Animated");
                temp.push(101);
                temp.push(ucs_int[i].DS_Task.includes('100/')?"Static":"Animated");
                temp.push(ucs_cur[i].DS_Task.includes('100/')?ucs_cur[i].score:-ucs_cur[i].score);
              }else if(ucs_cur[i].DS_Task.includes('100') && ucs_cur[i].DS_Task.includes('110')){
                temp.push("Static");
                temp.push(100);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucs_int[i].DS_Task.includes('100/')?"Static":"Immersive");
                temp.push(ucs_cur[i].DS_Task.includes('100/')?ucs_cur[i].score:-ucs_cur[i].score);
              }else if(ucs_cur[i].DS_Task.includes('101') && ucs_cur[i].DS_Task.includes('110')){
                temp.push("Animated");
                temp.push(101);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucs_int[i].DS_Task.includes('101/')?"Animated":"Immersive");
                temp.push(ucs_cur[i].DS_Task.includes('101/')?ucs_cur[i].score:-ucs_cur[i].score);
              }
              // Factor
              temp.push("CUR");
              // Comment
              temp.push(ucs_cur[i].comment);
              result.push(temp);
            }

            return result;
          }

          function arrayToCsv(data){
            return data.map(row =>
              row
              .map(String)  // convert every value to String
              .map(v => v.replaceAll('"', '""'))  // escape double colons
              .map(v => `"${v}"`)  // quote it
              .join(',')  // comma-separated
            ).join('\r\n');  // rows starting on new lines
          }

          function downloadBlob() {
            const content = arrayToCsv(dataToArray());
            const filename = 'export.csv';
            const contentType = 'text/csv;charset=utf-8;'
            // Create a blob
            let blob = new Blob([content], { type: contentType });
            let url = URL.createObjectURL(blob);

            // Create a link to download it
            let pom = document.createElement('a');
            pom.href = url;
            pom.setAttribute('download', filename);
            pom.click();
          }

          function start() {
            log('start');
            document.location.href = "../story";
          }
        </script>
    </div>
</body>


<script>
  $.ready(() => {
    $(".page").addClass("hidden");
    $(".intro").removeClass("hidden");
  });
</script>

</html>
