<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IDS User Study</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <style>
        html,
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .page {
            margin: 40px auto;
            width: 80%;
        }

        .hidden {
            display: none;
        }

        ul {
          padding-inline-start: 20px;
          margin-block-start: 5px;
          margin-block-end: 5px;
          margin-right: 1vw
        }
    </style>
</head>

<body>
    <!-- INTRODUCTION PART : Shown first -->
    <div class="intro page">
        <div class="sticky_header" style="position: sticky; top:0px; z-index:100; background-color:beige; padding:0px 16px;">
          <h1> Testing User Experience of Reading Article on the Web </h1>
          <br>
          <label for="ds">Choose DS:</label>
          <select name="ds" id="ds" onchange="onChange1()">
            <option value="urb">1: Urbanizaion</option>
            <option value="hap">2: Happiness</option>
            <option value="snp">3: COVID S&P</option>
            <option value="mor">4: Mortality Rate</option>
            <option value="tot">0: Total</option>
          </select>
          <label for="condition">Choose Condition:</label>
          <select name="condition" id="condition" onchange="onChange2()">
            <option value="SA">Static vs Animated</option>
            <option value="SI">Static vs Immersive</option>
            <option value="AI">Animated vs Immersive</option>
          </select>
          <button style="margin-left: 100px;" onclick="downloadBlob()"> Export as CSV </button>
        </div>
        <br><br><br>
        <div id="indiv-plots" style="width: 100%; display:flex; flex-direction:column; line-height: 1.5em">
          <div style="width: 100%; margin-down: 1vw">
            <h3> Interesting </h3>
            <div style="width: 100%; display:flex; flex-direction:row;">
              <div style="width: 400px; height:600px;">
                <div id="plot_int"></div>
              </div>
              <div style="width: calc(100% - 400px); display:flex; flex-direction:row;">
                  {% for scores in [[-3, -2, -1], [0], [3, 2, 1]] %}
                    <ul id="list_int{{scores[0]}}">
                      <li> <strong>{{ scores[0] }}</strong> </li>
                      {% for item in UCS_int if item["score"] in scores %}
                        <li>{{ item["score"] }}: {{ item["comment"] }}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div style="width: 100%; margin-down: 1vw">
            <h3> Easy to Understand </h3>
            <div style="width: 100%; display:flex; flex-direction:row;">
              <div style="width: 400px; height:600px;">
                <div id="plot_eas"></div>
              </div>
              <div style="width: calc(100% - 400px); display:flex; flex-direction:row;">
                  {% for scores in [[-3, -2, -1], [0], [3, 2, 1]] %}
                    <ul id="list_eas{{scores[0]}}">
                      <li> <strong>{{ scores[0] }}</strong> </li>
                      {% for item in UCS_eas if item["score"] in scores %}
                        <li>{{ item["score"] }}: {{ item["comment"] }}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div style="width: 100%; margin-down: 1vw">
            <h3> Persuasive </h3>
            <div style="width: 100%; display:flex; flex-direction:row;">
              <div style="width: 400px; height:600px;">
                <div id="plot_per"></div>
              </div>
              <div style="width: calc(100% - 400px); display:flex; flex-direction:row;">
                  {% for scores in [[-3, -2, -1], [0], [3, 2, 1]] %}
                    <ul id="list_per{{scores[0]}}">
                      <li> <strong>{{ scores[0] }}</strong> </li>
                      {% for item in UCS_per if item["score"] in scores %}
                        <li>{{ item["score"] }}: {{ item["comment"] }}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div style="width: 100%; margin-down: 1vw">
            <h3> Trustworthy </h3>
            <div style="width: 100%; display:flex; flex-direction:row;">
              <div style="width: 400px; height:600px;">
                <div id="plot_tru"></div>
              </div>
              <div style="width: calc(100% - 400px); display:flex; flex-direction:row;">
                  {% for scores in [[-3, -2, -1], [0], [3, 2, 1]] %}
                    <ul id="list_tru{{scores[0]}}">
                      <li> <strong>{{ scores[0] }}</strong> </li>
                      {% for item in UCS_tru if item["score"] in scores %}
                        <li>{{ item["score"] }}: {{ item["comment"] }}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div style="width: 100%; margin-down: 1vw">
            <h3> Curious </h3>
            <div style="width: 100%; display:flex; flex-direction:row;">
              <div style="width: 400px; height:600px;">
                <div id="plot_cur"></div>
              </div>
              <div style="width: calc(100% - 400px); display:flex; flex-direction:row;">
                  {% for scores in [[-3, -2, -1], [0], [3, 2, 1]] %}
                    <ul id="list_cur{{scores[0]}}">
                      <li> <strong>{{ scores[0] }}</strong> </li>
                      {% for item in UCS_cur if item["score"] in scores %}
                        <li>{{ item["score"] }}: {{ item["comment"] }}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div id="total-plots" style="width: 100%; display:flex; flex-direction:column; line-height: 1.5em">
          <div style="font-size:16pt; margin-bottom:0px; display:flex; flex-direction:row;">
            <div style="width:40px;"> &nbsp; </div>
            <div style="width:300px; text-align:center;"> Interesting </div>
            <div style="width:300px; text-align:center;"> Easy to Understand </div>
            <div style="width:300px; text-align:center;"> Persuasive </div>
            <div style="width:300px; text-align:center;"> Trustworthy </div>
            <div style="width:300px; text-align:center;"> Curious </div>
          </div>
          <div style="margin-bottom:-90px; display:flex; flex-direction:row;">
            <div style="height:270px; font-size:16pt; text-align:center; writing-mode: vertical-lr; transform: rotate(-180deg);"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DS1 </div>
            <div class="histDiv" id="ds0-plot-int"></div>
            <div class="histDiv" id="ds0-plot-eas"></div>
            <div class="histDiv" id="ds0-plot-per"></div>
            <div class="histDiv" id="ds0-plot-tru"></div>
            <div class="histDiv" id="ds0-plot-cur"></div>
          </div>
          <div style="margin-bottom:-90px; display:flex; flex-direction:row;">
            <div style="height:270px; font-size:16pt; text-align:center; writing-mode: vertical-lr; transform: rotate(-180deg);"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DS2 </div>
            <div class="histDiv" id="ds1-plot-int"></div>
            <div class="histDiv" id="ds1-plot-eas"></div>
            <div class="histDiv" id="ds1-plot-per"></div>
            <div class="histDiv" id="ds1-plot-tru"></div>
            <div class="histDiv" id="ds1-plot-cur"></div>
          </div>
          <div style="margin-bottom:-90px; display:flex; flex-direction:row;">
            <div style="height:270px; font-size:16pt; text-align:center; writing-mode: vertical-lr; transform: rotate(-180deg);"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DS3 </div>
            <div class="histDiv" id="ds2-plot-int"></div>
            <div class="histDiv" id="ds2-plot-eas"></div>
            <div class="histDiv" id="ds2-plot-per"></div>
            <div class="histDiv" id="ds2-plot-tru"></div>
            <div class="histDiv" id="ds2-plot-cur"></div>
          </div>
          <div style="margin-bottom:-90px; display:flex; flex-direction:row;">
            <div style="height:270px; font-size:16pt; text-align:center; writing-mode: vertical-lr; transform: rotate(-180deg);"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DS4 </div>
            <div class="histDiv" id="ds3-plot-int"></div>
            <div class="histDiv" id="ds3-plot-eas"></div>
            <div class="histDiv" id="ds3-plot-per"></div>
            <div class="histDiv" id="ds3-plot-tru"></div>
            <div class="histDiv" id="ds3-plot-cur"></div>
          </div>
        </div>
        <br/>
        <div style="width: fit-content; display:flex; flex-direction:row; line-height: 1.5em">
          <div id="inter-cats-int-eas"></div>
          <div id="inter-cats-int-per"></div>
          <div id="inter-cats-int-tru"></div>
          <div id="inter-cats-int-cur"></div>
        </div>
        <br/>
        <div style="width: fit-content; display:flex; flex-direction:row; line-height: 1.5em">
          <ul style="font-size:16px; line-height:1.5em;">
            {% for d in data1 %}
              <li>{{ d.Json["M1-1"] }} / {{ d.Json["M2"] }} / {{ d.Json["M3"] }}</li>
            {% endfor %}
          </ul>
          <div style="margin: 0px 20px">
            <div id="plot_M1"></div>
            <div id="plot_M2"></div>
            <div id="plot_M3"></div>
          </div>
        </div>
        <div style="width: fit-content; display:flex; flex-direction:row; line-height: 1.5em">
          <div id="plot_M111"></div>
          <div id="plot_M112"></div>
          <div id="plot_M121"></div>
          <div id="plot_M122"></div>
          <div id="plot_M131"></div>
          <div id="plot_M132"></div>
        </div>

        <script>
          const cats = ["int", "eas", "per", "tru", "cur"];

          let ds = 0;
          let condition = 0;
          let dss = [
            {
              int:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              eas:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              per:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              tru:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              cur:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
            },
            {
              int:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              eas:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              per:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              tru:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              cur:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
            },
            {
              int:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              eas:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              per:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              tru:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              cur:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
            },
            {
              int:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              eas:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              per:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              tru:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
              cur:{
                cond_100_101: [],
                cond_100_110: [],
                cond_101_110: [],
              },
            },
          ];
          const ucss = [
            {{ UCS_int | tojson }},
            {{ UCS_eas | tojson }},
            {{ UCS_per | tojson }},
            {{ UCS_tru | tojson }},
            {{ UCS_cur | tojson }}
          ];

          for(let i=0; i<ucss.length; i++){
            for(let j=0; j<ucss[i].length; j++){
              if(ucss[i][j].DS_Task.includes('100') && ucss[i][j].DS_Task.includes('101')){
                dss[ucss[i][j].DS][cats[i]].cond_100_101.push(ucss[i][j].DS_Task.includes('100/')?ucss[i][j].score:-ucss[i][j].score);
              }else if(ucss[i][j].DS_Task.includes('100') && ucss[i][j].DS_Task.includes('110')){
                dss[ucss[i][j].DS][cats[i]].cond_100_110.push(ucss[i][j].DS_Task.includes('100/')?ucss[i][j].score:-ucss[i][j].score);
              }else if(ucss[i][j].DS_Task.includes('101') && ucss[i][j].DS_Task.includes('110')){
                dss[ucss[i][j].DS][cats[i]].cond_101_110.push(ucss[i][j].DS_Task.includes('101/')?ucss[i][j].score:-ucss[i][j].score);
              }
            }
          }

          const layout40 = {
            barmode:"overlay",
            xaxis: { fixedrange: true, range: [-3.5, 3.5], showticklabels: true },
            yaxis: { fixedrange: true, range: [0, 40] }
          };

          const layout50 = {
            barmode:"overlay",
            xaxis: { fixedrange: true, range: [-3.5, 3.5], showticklabels: true },
            yaxis: { fixedrange: true, range: [0, 50] }
          };

          function drawPlots(){
            if(ds<4){
              document.getElementById("indiv-plots").style.visibility = 'visible';
              document.getElementById("indiv-plots").style.height = 'fit-content';
              document.getElementById("total-plots").style.visibility = 'hidden';
              document.getElementById("total-plots").style.height = '0px';

              const hist_int = document.getElementById('plot_int');
              const hist_eas = document.getElementById('plot_eas');
              const hist_per = document.getElementById('plot_per');
              const hist_tru = document.getElementById('plot_tru');
              const hist_cur = document.getElementById('plot_cur');

              let hists = [hist_int, hist_eas, hist_per, hist_tru, hist_cur];
              for(let i=0; i<5; i++){
                data_ds = dss[ds][cats[i]];
                data_condition = condition==0?data_ds.cond_100_101:condition==1?data_ds.cond_100_110:data_ds.cond_101_110;
                const map = data_condition.reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map());
                Plotly.newPlot(hists[i], [{
                  x: [...map.keys()],
                  y: [...map.values()],
                  type: 'bar',
                  texttemplate: '%{y}',
                  textposition: 'outside',
                  textfont: {
                    size: 12,
                    color: '#000000'
                  },
                  hoverinfo: 'none',
                  xbins: { end: 3.5, size: 1, start: -3.5 }
                }], i==3?layout50:layout40);
              }
            }else{
              document.getElementById("indiv-plots").style.visibility = 'hidden';
              document.getElementById("indiv-plots").style.height = '0px';
              document.getElementById("total-plots").style.visibility = 'visible';
              document.getElementById("total-plots").style.height = 'fit-content';

              const ds0_hist_int = document.getElementById('ds0-plot-int');
              const ds0_hist_eas = document.getElementById('ds0-plot-eas');
              const ds0_hist_per = document.getElementById('ds0-plot-per');
              const ds0_hist_tru = document.getElementById('ds0-plot-tru');
              const ds0_hist_cur = document.getElementById('ds0-plot-cur');

              const ds1_hist_int = document.getElementById('ds1-plot-int');
              const ds1_hist_eas = document.getElementById('ds1-plot-eas');
              const ds1_hist_per = document.getElementById('ds1-plot-per');
              const ds1_hist_tru = document.getElementById('ds1-plot-tru');
              const ds1_hist_cur = document.getElementById('ds1-plot-cur');

              const ds2_hist_int = document.getElementById('ds2-plot-int');
              const ds2_hist_eas = document.getElementById('ds2-plot-eas');
              const ds2_hist_per = document.getElementById('ds2-plot-per');
              const ds2_hist_tru = document.getElementById('ds2-plot-tru');
              const ds2_hist_cur = document.getElementById('ds2-plot-cur');

              const ds3_hist_int = document.getElementById('ds3-plot-int');
              const ds3_hist_eas = document.getElementById('ds3-plot-eas');
              const ds3_hist_per = document.getElementById('ds3-plot-per');
              const ds3_hist_tru = document.getElementById('ds3-plot-tru');
              const ds3_hist_cur = document.getElementById('ds3-plot-cur');


              let hists = [
                [ds0_hist_int, ds0_hist_eas, ds0_hist_per, ds0_hist_tru, ds0_hist_cur],
                [ds1_hist_int, ds1_hist_eas, ds1_hist_per, ds1_hist_tru, ds1_hist_cur],
                [ds2_hist_int, ds2_hist_eas, ds2_hist_per, ds2_hist_tru, ds2_hist_cur],
                [ds3_hist_int, ds3_hist_eas, ds3_hist_per, ds3_hist_tru, ds3_hist_cur],
              ];

              const layout_grid = {
                // barmode:"overlay",
                xaxis: {
                  fixedrange: true,
                  range: [-3.5, 3.5],
                  tickmode: "array",
                  tickvals: [3, 2, 1, 0, -1, -2, -3],
                  ticktext: ['A', ' ', ' ', ' ', ' ', ' ', 'S']
                },
                xaxis2: {
                  fixedrange: true,
                  range: [-3.5, 3.5],
                  tickmode: "array",
                  tickvals: [3, 2, 1, 0, -1, -2, -3],
                  ticktext: ['I', ' ', ' ', ' ', ' ', ' ', 'A']
                },
                xaxis3: {
                  fixedrange: true,
                  range: [-3.5, 3.5],
                  tickmode: "array",
                  tickvals: [3, 2, 1, 0, -1, -2, -3],
                  ticktext: ['S', ' ', ' ', ' ', ' ', ' ', 'I']
                },
                yaxis: { fixedrange: true, range: [0, 39] },
                showlegend: false,
                autosize: false,
                width: 300,
                height: 180,
                bargap: 0.1,
                grid: {rows: 1, columns: 3},
                margin: {
                  l: 40,
                  r: 0,
                  b: 20,
                  t: 10,
                  pad: 4
                }
              };

              const layout_grid2 = {
                // barmode:"overlay",
                xaxis: {
                  fixedrange: true,
                  range: [-3.5, 3.5],
                  tickmode: "array",
                  tickvals: [3, 2, 1, 0, -1, -2, -3],
                  ticktext: ['A', ' ', ' ', ' ', ' ', ' ', 'S']
                },
                xaxis2: {
                  fixedrange: true,
                  range: [-3.5, 3.5],
                  tickmode: "array",
                  tickvals: [3, 2, 1, 0, -1, -2, -3],
                  ticktext: ['I', ' ', ' ', ' ', ' ', ' ', 'A']
                },
                xaxis3: {
                  fixedrange: true,
                  range: [-3.5, 3.5],
                  tickmode: "array",
                  tickvals: [3, 2, 1, 0, -1, -2, -3],
                  ticktext: ['S', ' ', ' ', ' ', ' ', ' ', 'I']
                },
                yaxis: { fixedrange: true, range: [0, 39] },
                showlegend: false,
                autosize: false,
                width: 300,
                height: 180,
                bargap: 0.1,
                grid: {rows: 1, columns: 3},
                margin: {
                  l: 40,
                  r: 0,
                  b: 20,
                  t: 10,
                  pad: 4
                }
              };

              const barColors = ['rgba(204,204,204,1)', '#F1AC88FF', '#FC766AFF', '#783937FF']

              for(let j=0; j<4; j++){
                for(let i=0; i<5; i++){
                  data_ds = dss[j][cats[i]];
                  // data_condition = condition==0?data_ds.cond_100_101:condition==1?data_ds.cond_100_110:data_ds.cond_101_110;

                  const m0 = data_ds.cond_100_101.reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map());
                  const m1 = data_ds.cond_100_110.reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map());
                  const m2 = data_ds.cond_101_110.reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map());
                  const vals = [-3, -2, -1, 0, 1, 2, 3];
                  vals.forEach(e => {
                    if(!m0.has(e)){m0.set(e, 0)}
                    if(!m1.has(e)){m1.set(e, 0)}
                    if(!m2.has(e)){m2.set(e, 0)}
                  })

                  const map0 = new Map([...m0].sort((a, b) => a[0] - b[0]));
                  const map1 = new Map([...m1].sort((a, b) => a[0] - b[0]));
                  const map2 = new Map([...m2].sort((a, b) => a[0] - b[0]));

                  const data0 = {
                    x: [...map0.keys()],
                    y: [...map0.values()],
                    xaxis: 'x1',
                    yaxis: 'y',
                    type: 'bar',
                    orientation: 'v',
                    texttemplate: '%{y}',
                    textposition: 'outside',
                    textfont: {
                      size: 8,
                      color: '#000000'
                    },
                    hoverinfo: 'none',
                    xbins: { end: 3.5, size: 1, start: -3.5 },
                    marker: { color: [...map0.keys()].map(v => v < 0 ? barColors[1] : v == 0 ? barColors[0] : barColors[2]) }
                  }
                  const data1 = {
                    x: [...map2.keys()],
                    y: [...map2.values()],
                    xaxis: 'x2',
                    yaxis: 'y',
                    type: 'bar',
                    orientation: 'v',
                    texttemplate: '%{y}',
                    textposition: 'outside',
                    textfont: {
                      size: 8,
                      color: '#000000'
                    },
                    hoverinfo: 'none',
                    xbins: { end: 3.5, size: 1, start: -3.5 },
                    marker: { color: [...map2.keys()].map(v => v < 0 ? barColors[2] : v == 0 ? barColors[0] : barColors[3]) }
                  }
                  const data2 = {
                    x: [...map1.keys()],
                    y: [...map1.values()].reverse(),
                    xaxis: 'x3',
                    yaxis: 'y',
                    type: 'bar',
                    orientation: 'v',
                    texttemplate: '%{y}',
                    textposition: 'outside',
                    textfont: {
                      size: 8,
                      color: '#000000'
                    },
                    hoverinfo: 'none',
                    xbins: { end: 3.5, size: 1, start: -3.5 },
                    marker: { color: [...map1.keys()].map(v => v < 0 ? barColors[3] : v == 0 ? barColors[0] : barColors[1]) }
                  }

                  Plotly.newPlot(hists[j][i], [data0, data1, data2], i==3?layout_grid2:layout_grid);
                }
              }

              // heatmaps
              const heatmap_int_eas = document.getElementById('inter-cats-int-eas');
              const heatmap_int_per = document.getElementById('inter-cats-int-per');
              const heatmap_int_tru = document.getElementById('inter-cats-int-tru');
              const heatmap_int_cur = document.getElementById('inter-cats-int-cur');

              let heatmaps = [
                heatmap_int_eas,
                heatmap_int_per,
                heatmap_int_tru,
                heatmap_int_cur,
              ];

              const layout_heatmap = {
                xaxis: {
                  title: {
                    text: 'Curiosity',
                    font: { size: 18 }
                  },
                },
                yaxis: {
                  title: {
                    text: 'Interest',
                    font: { size: 18 }
                  },
                },
                width: 400,
                height: 400,
                autosize: true
              };

              const data_int_cur = [
                {
                  z: [
                    [28, 2, 10, 6, 1, 3, 5],
                    [0, 9, 7, 8, 0, 1, 0],
                    [1, 3, 6, 7,  2,  0,  0],
                    [3, 4, 5, 33, 2,  5,  1],
                    [1, 5, 8, 13, 14, 9,  2],
                    [1, 2, 7, 27, 38, 47, 19],
                    [6, 1, 4, 37, 25, 58, 124],
                  ],
                  x: ['-3', '-2', '-1', '0', '1', '2', '3'],
                  y: ['-3', '-2', '-1', '0', '1', '2', '3'],
                  type: 'heatmap',
                  zmin: 0,
                  zmax: 170,
                  colorscale: [
                    [0, '#CCF381FF']
                    [1, '#4831D4FF'],
                  ],
                  hoverongaps: false
                }
              ]

              Plotly.newPlot(heatmap_int_cur, data_int_cur, layout_heatmap);

              const layout_heatmap2 = {
                xaxis: {
                  title: {
                    text: 'Trustworthiness',
                    font: { size: 18 }
                  },
                },
                yaxis: {
                  title: {
                    text: 'Interest',
                    font: { size: 18 }
                  },
                },
                width: 400,
                height: 400,
                autosize: true
              };

              const data_int_tru = [
                {
                  z: [
                    [17,	3,	5,	28,	0,	0,	2],
                    [3,	4,	2,	15,	1,	0,	0],
                    [2,	3,	5,	9,	0,	0,	0],
                    [5,	3,	8,	34,	1,	0,	2],
                    [6,	9,	5,	30,	2,	0,	0],
                    [6,	15,	14,	85,	13,	8,	0],
                    [12,	7,	13,	169,	16,	16,	22],
                  ],
                  x: ['-3', '-2', '-1', '0', '1', '2', '3'],
                  y: ['-3', '-2', '-1', '0', '1', '2', '3'],
                  type: 'heatmap',
                  zmin: 0,
                  zmax: 170,
                  colorscale: [
                    [0, '#CCF381FF']
                    [1, '#4831D4FF'],
                  ],
                  hoverongaps: false
                }
              ]

              Plotly.newPlot(heatmap_int_tru, data_int_tru, layout_heatmap2);

              const layout_heatmap3 = {
                xaxis: {
                  title: {
                    text: 'Ease of Understanding',
                    font: { size: 18 }
                  },
                },
                yaxis: {
                  title: {
                    text: 'Interest',
                    font: { size: 18 }
                  },
                },
                width: 400,
                height: 400,
                autosize: true
              };

              const data_int_eas = [
                {
                  z: [
                    [47,	2,	1,	4,	0,	0,	1],
                    [12,	7,	1,	4,	0,	1,	0],
                    [5,	5,	5,	4,	0,	0,	0],
                    [17,	7,	7,	17,	1,	4,	0],
                    [13,	13,	9,	8,	4,	5,	0],
                    [15,	39,	12,	21,	16,	25,	13],
                    [37,	19,	20,	38,	18,	27,	96],
                  ],
                  x: ['-3', '-2', '-1', '0', '1', '2', '3'],
                  y: ['-3', '-2', '-1', '0', '1', '2', '3'],
                  type: 'heatmap',
                  zmin: 0,
                  zmax: 170,
                  colorscale: [
                    [0, '#CCF381FF']
                    [1, '#4831D4FF'],
                  ],
                  hoverongaps: false
                }
              ]

              Plotly.newPlot(heatmap_int_eas, data_int_eas, layout_heatmap3);

              const layout_heatmap4 = {
                xaxis: {
                  title: {
                    text: 'Persuasiveness',
                    font: { size: 18 }
                  },
                },
                yaxis: {
                  title: {
                    text: 'Interest',
                    font: { size: 18 }
                  },
                },
                width: 400,
                height: 400,
                autosize: true
              };

              const data_int_per = [
                {
                  z: [
                    [27,	4,	4,	16,	2,	0,	2],
                    [2,	7,	4,	8,	3,	1,	0],
                    [3,	3,	6,	6,	0,	1,	0],
                    [2,	4,	9,	30,	3,	2,	3],
                    [5,	6,	10,	16,	10,	2,	3],
                    [3,	8,	14,	48,	25,	31,	12],
                    [12,	9,	5,	55,	32,	47,	95],
                  ],
                  x: ['-3', '-2', '-1', '0', '1', '2', '3'],
                  y: ['-3', '-2', '-1', '0', '1', '2', '3'],
                  type: 'heatmap',
                  zmin: 0,
                  zmax: 170,
                  colorscale: [
                    [0, '#CCF381FF']
                    [1, '#4831D4FF'],
                  ],
                  hoverongaps: false
                }
              ]

              Plotly.newPlot(heatmap_int_per, data_int_per, layout_heatmap4);
            }

          }

          function changeLists(){
            const lists = [
              [
                document.getElementById('list_int-3'),
                document.getElementById('list_int0'),
                document.getElementById('list_int3')
              ],
              [
                document.getElementById('list_eas-3'),
                document.getElementById('list_eas0'),
                document.getElementById('list_eas3')
              ],
              [
                document.getElementById('list_per-3'),
                document.getElementById('list_per0'),
                document.getElementById('list_per3')
              ],
              [
                document.getElementById('list_tru-3'),
                document.getElementById('list_tru0'),
                document.getElementById('list_tru3')
              ],
              [
                document.getElementById('list_cur-3'),
                document.getElementById('list_cur0'),
                document.getElementById('list_cur3')
              ],
            ]

            if(ds<4){
              for(let j=0; j<lists.length; j++){
                for(let i=0; i<3; i++){
                  lists[j][i].innerHTML = "";
                }
              }
              let list_arr = [[], [], [], [], []];

              for(let j=0; j<ucss.length; j++){
                for(let i=0; i<ucss[j].length; i++){
                  if(ucss[j][i].DS == ds){
                    if(condition == 0 && ucss[j][i].DS_Task.includes('100') && ucss[j][i].DS_Task.includes('101')){
                      list_arr[j].push([
                        "<li>" + String(ucss[j][i].FirstTask==100?ucss[j][i].score:-ucss[j][i].score) + ": " + ucss[j][i].comment + "</li>", ucss[j][i].FirstTask==100?ucss[j][i].score:-ucss[j][i].score
                      ])
                    }else if(condition == 1 && ucss[j][i].DS_Task.includes('100') && ucss[j][i].DS_Task.includes('110')){
                      list_arr[j].push([
                        "<li>" + String(ucss[j][i].FirstTask==100?ucss[j][i].score:-ucss[j][i].score) + ": " + ucss[j][i].comment + "</li>", ucss[j][i].FirstTask==100?ucss[j][i].score:-ucss[j][i].score
                      ])
                    }else if(condition == 2 && ucss[j][i].DS_Task.includes('101') && ucss[j][i].DS_Task.includes('110')){
                      list_arr[j].push([
                        "<li>" + String(ucss[j][i].FirstTask==101?ucss[j][i].score:-ucss[j][i].score) + ": " + ucss[j][i].comment + "</li>", ucss[j][i].FirstTask==101?ucss[j][i].score:-ucss[j][i].score
                      ])
                    }
                  }
                }
                list_arr[j].sort((a, b)=>{
                  return b[1]-a[1];
                });
                for(let i=0; i<list_arr[j].length; i++){
                  let temp = list_arr[j][i][1]<0?0:list_arr[j][i][1]==0?1:2;
                  lists[j][temp].innerHTML += list_arr[j][i][0];
                }
              }
            }else{
              for(let j=0; j<lists.length; j++){
                for(let i=0; i<3; i++){
                  lists[j][i].innerHTML = "";
                }
              }
            }
          }

          function onChange1(){
            ds = document.getElementById('ds').selectedIndex;
            drawPlots();
            changeLists();
          }

          function onChange2(){
            condition = document.getElementById('condition').selectedIndex;
            drawPlots();
            changeLists();
          }

          // baseline chart = ds0_Stt_Anm
          drawPlots()
          changeLists();

          function dataToArray(){
            const demos = {{ data3 | tojson }};
            let result = [["ID", "AGE", "English Reading Proficiency", "Number of Articles Reading on Web", "Gender", "Highest Educational Level", "DS##", "Cond_1", "CondCode_1", "Cond_2", "CondCode_2", "FirstSeen", "Score", "Factor", "Comment"]];

            for(let i=0; i<ucss[0].length; i++){
              let temp = [];
              // ID
              temp.push(ucss[0][i].ID);
              // Demo
              let demo = demos.find(ele => ele.ID == ucss[0][i].ID);
              temp.push(demo!=undefined?demo.Json.AGE:"not found");
              temp.push(demo!=undefined?demo.Json.ERP:"not found");
              temp.push(demo!=undefined?demo.Json.FOW:"not found");
              temp.push(demo!=undefined?demo.Json.GEN:"not found");
              temp.push(demo!=undefined?demo.Json.HEL:"not found");
              // DS##
              temp.push(ucss[0][i].DS);
              // Conds, Score
              if(ucss[0][i].DS_Task.includes('100') && ucss[0][i].DS_Task.includes('101')){
                temp.push("Static");
                temp.push(100);
                temp.push("Animated");
                temp.push(101);
                temp.push(ucss[0][i].DS_Task.includes('100/')?"Static":"Animated");
                temp.push(ucss[0][i].DS_Task.includes('100/')?ucss[0][i].score:-ucss[0][i].score);
              }else if(ucss[0][i].DS_Task.includes('100') && ucss[0][i].DS_Task.includes('110')){
                temp.push("Static");
                temp.push(100);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucss[0][i].DS_Task.includes('100/')?"Static":"Immersive");
                temp.push(ucss[0][i].DS_Task.includes('100/')?ucss[0][i].score:-ucss[0][i].score);
              }else if(ucss[0][i].DS_Task.includes('101') && ucss[0][i].DS_Task.includes('110')){
                temp.push("Animated");
                temp.push(101);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucss[0][i].DS_Task.includes('101/')?"Animated":"Immersive");
                temp.push(ucss[0][i].DS_Task.includes('101/')?ucss[0][i].score:-ucss[0][i].score);
              }
              // Factor
              temp.push("INT");
              // Comment
              temp.push(ucss[0][i].comment);
              result.push(temp);
            }
            for(let i=0; i<ucss[1].length; i++){
              let temp = [];
              // ID
              temp.push(ucss[1][i].ID);
              // Demo
              let demo = demos.find(ele => ele.ID == ucss[1][i].ID);
              temp.push(demo!=undefined?demo.Json.AGE:"not found");
              temp.push(demo!=undefined?demo.Json.ERP:"not found");
              temp.push(demo!=undefined?demo.Json.FOW:"not found");
              temp.push(demo!=undefined?demo.Json.GEN:"not found");
              temp.push(demo!=undefined?demo.Json.HEL:"not found");
              // DS##
              temp.push(ucss[1][i].DS);
              // Conds, Score
              if(ucss[1][i].DS_Task.includes('100') && ucss[1][i].DS_Task.includes('101')){
                temp.push("Static");
                temp.push(100);
                temp.push("Animated");
                temp.push(101);
                temp.push(ucss[1][i].DS_Task.includes('100/')?"Static":"Animated");
                temp.push(ucss[1][i].DS_Task.includes('100/')?ucss[1][i].score:-ucss[1][i].score);
              }else if(ucss[1][i].DS_Task.includes('100') && ucss[1][i].DS_Task.includes('110')){
                temp.push("Static");
                temp.push(100);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucss[1][i].DS_Task.includes('100/')?"Static":"Immersive");
                temp.push(ucss[1][i].DS_Task.includes('100/')?ucss[1][i].score:-ucss[1][i].score);
              }else if(ucss[1][i].DS_Task.includes('101') && ucss[1][i].DS_Task.includes('110')){
                temp.push("Animated");
                temp.push(101);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucss[1][i].DS_Task.includes('101/')?"Animated":"Immersive");
                temp.push(ucss[1][i].DS_Task.includes('101/')?ucss[1][i].score:-ucss[1][i].score);
              }
              // Factor
              temp.push("EAS");
              // Comment
              temp.push(ucss[1][i].comment);
              result.push(temp);
            }
            for(let i=0; i<ucss[2].length; i++){
              let temp = [];
              // ID
              temp.push(ucss[2][i].ID);
              // Demo
              let demo = demos.find(ele => ele.ID == ucss[2][i].ID);
              temp.push(demo!=undefined?demo.Json.AGE:"not found");
              temp.push(demo!=undefined?demo.Json.ERP:"not found");
              temp.push(demo!=undefined?demo.Json.FOW:"not found");
              temp.push(demo!=undefined?demo.Json.GEN:"not found");
              temp.push(demo!=undefined?demo.Json.HEL:"not found");
              // DS##
              temp.push(ucss[2][i].DS);
              // Conds, Score
              if(ucss[2][i].DS_Task.includes('100') && ucss[2][i].DS_Task.includes('101')){
                temp.push("Static");
                temp.push(100);
                temp.push("Animated");
                temp.push(101);
                temp.push(ucss[2][i].DS_Task.includes('100/')?"Static":"Animated");
                temp.push(ucss[2][i].DS_Task.includes('100/')?ucss[2][i].score:-ucss[2][i].score);
              }else if(ucss[2][i].DS_Task.includes('100') && ucss[2][i].DS_Task.includes('110')){
                temp.push("Static");
                temp.push(100);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucss[2][i].DS_Task.includes('100/')?"Static":"Immersive");
                temp.push(ucss[2][i].DS_Task.includes('100/')?ucss[2][i].score:-ucss[2][i].score);
              }else if(ucss[2][i].DS_Task.includes('101') && ucss[2][i].DS_Task.includes('110')){
                temp.push("Animated");
                temp.push(101);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucss[2][i].DS_Task.includes('101/')?"Animated":"Immersive");
                temp.push(ucss[2][i].DS_Task.includes('101/')?ucss[2][i].score:-ucss[2][i].score);
              }
              // Factor
              temp.push("PER");
              // Comment
              temp.push(ucss[2][i].comment);
              result.push(temp);
            }
            for(let i=0; i<ucss[3].length; i++){
              let temp = [];
              // ID
              temp.push(ucss[3][i].ID);
              // Demo
              let demo = demos.find(ele => ele.ID == ucss[3][i].ID);
              temp.push(demo!=undefined?demo.Json.AGE:"not found");
              temp.push(demo!=undefined?demo.Json.ERP:"not found");
              temp.push(demo!=undefined?demo.Json.FOW:"not found");
              temp.push(demo!=undefined?demo.Json.GEN:"not found");
              temp.push(demo!=undefined?demo.Json.HEL:"not found");
              // DS##
              temp.push(ucss[3][i].DS);
              // Conds, Score
              if(ucss[3][i].DS_Task.includes('100') && ucss[3][i].DS_Task.includes('101')){
                temp.push("Static");
                temp.push(100);
                temp.push("Animated");
                temp.push(101);
                temp.push(ucss[3][i].DS_Task.includes('100/')?"Static":"Animated");
                temp.push(ucss[3][i].DS_Task.includes('100/')?ucss[3][i].score:-ucss[3][i].score);
              }else if(ucss[3][i].DS_Task.includes('100') && ucss[3][i].DS_Task.includes('110')){
                temp.push("Static");
                temp.push(100);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucss[3][i].DS_Task.includes('100/')?"Static":"Immersive");
                temp.push(ucss[3][i].DS_Task.includes('100/')?ucss[3][i].score:-ucss[3][i].score);
              }else if(ucss[3][i].DS_Task.includes('101') && ucss[3][i].DS_Task.includes('110')){
                temp.push("Animated");
                temp.push(101);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucss[3][i].DS_Task.includes('101/')?"Animated":"Immersive");
                temp.push(ucss[3][i].DS_Task.includes('101/')?ucss[3][i].score:-ucss[3][i].score);
              }
              // Factor
              temp.push("TRU");
              // Comment
              temp.push(ucss[3][i].comment);
              result.push(temp);
            }
            for(let i=0; i<ucss[4].length; i++){
              let temp = [];
              // ID
              temp.push(ucss[4][i].ID);
              // Demo
              let demo = demos.find(ele => ele.ID == ucss[4][i].ID);
              temp.push(demo!=undefined?demo.Json.AGE:"not found");
              temp.push(demo!=undefined?demo.Json.ERP:"not found");
              temp.push(demo!=undefined?demo.Json.FOW:"not found");
              temp.push(demo!=undefined?demo.Json.GEN:"not found");
              temp.push(demo!=undefined?demo.Json.HEL:"not found");
              // DS##
              temp.push(ucss[4][i].DS);
              // Conds, Score
              if(ucss[4][i].DS_Task.includes('100') && ucss[4][i].DS_Task.includes('101')){
                temp.push("Static");
                temp.push(100);
                temp.push("Animated");
                temp.push(101);
                temp.push(ucss[4][i].DS_Task.includes('100/')?"Static":"Animated");
                temp.push(ucss[4][i].DS_Task.includes('100/')?ucss[4][i].score:-ucss[4][i].score);
              }else if(ucss[4][i].DS_Task.includes('100') && ucss[4][i].DS_Task.includes('110')){
                temp.push("Static");
                temp.push(100);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucss[4][i].DS_Task.includes('100/')?"Static":"Immersive");
                temp.push(ucss[4][i].DS_Task.includes('100/')?ucss[4][i].score:-ucss[4][i].score);
              }else if(ucss[4][i].DS_Task.includes('101') && ucss[4][i].DS_Task.includes('110')){
                temp.push("Animated");
                temp.push(101);
                temp.push("Immersive");
                temp.push(110);
                temp.push(ucss[4][i].DS_Task.includes('101/')?"Animated":"Immersive");
                temp.push(ucss[4][i].DS_Task.includes('101/')?ucss[4][i].score:-ucss[4][i].score);
              }
              // Factor
              temp.push("CUR");
              // Comment
              temp.push(ucss[4][i].comment);
              result.push(temp);
            }

            return result;
          }

          function arrayToCsv(data){
            return data.map(row =>
              row
              .map(String)  // convert every value to String
              .map(v => v.replaceAll('"', '""'))  // escape double colons
              .map(v => `"${v}"`)  // quote it
              .join(',')  // comma-separated
            ).join('\r\n');  // rows starting on new lines
          }

          function downloadBlob() {
            const content = arrayToCsv(dataToArray());
            const filename = 'export.csv';
            const contentType = 'text/csv;charset=utf-8;'
            // Create a blob
            let blob = new Blob([content], { type: contentType });
            let url = URL.createObjectURL(blob);

            // Create a link to download it
            let pom = document.createElement('a');
            pom.href = url;
            pom.setAttribute('download', filename);
            pom.click();
          }

          function start() {
            log('start');
            document.location.href = "../story";
          }
        </script>
    </div>
</body>


<script>
  $.ready(() => {
    $(".page").addClass("hidden");
    $(".intro").removeClass("hidden");
  });
</script>

</html>
