<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IDS User Study</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">
  </head>
  <body>
	<script src="{{ url_for('static',filename='js/index.js')}}"></script>
    This is completion page
  </body>
</html>
