<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IDS User Study</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
        html,
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .page {
            margin: 40px auto;
            width: 900px;
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <!-- INTRODUCTION PART : Shown first -->
    <div class="intro page">
        <h1> Testing User Experience of Reading Article on the Web </h1>
        <p style="font-size: 21px; line-height: 1.8em;">
          Thank you for your help.<br/>
          In this survey, you will<br/>
          1) read an article and answer to a couple questions<br/>
          2) read another article of the same contents but in a different style<br/>
          3) compare the two articles<br/>
          Before start reading and survey, <b>Please resize your window or adjust zoom-level (ctrl + or -) until the rectangle below is fully visible in your browser window.</b>
        </p>
        <label for="name"> Please Your Participant <b>Prolific ID</b>:</label>
        <input type="text" id="pID" name="pID" required size="20">

        <h3>Note.</h3>
        <ul style="font-size:21px; line-height:1.5em;">
          <li>Do not skip or take a break while reading articles. (You may take a break answering to the questionnaire.)</li>
          <li>Do not try to go back to the previous page (or refresh pages) at any point. </li>
          <li>Copy the completion code at the end of the test. You will need to submit to the AMT page.</li>
        </ul>

        </p>
        <script>
            function start() {
                log('start');
                document.location.href = "../story";
            }
        </script>
        <div style="position: relative; height: 890px">
          <div style="position: absolute; text-align: center; left: calc(450px - 735px); font-size: 16pt; width: 1470px; height: 850px; border: 1mm dashed rgba(211, 220, 50, 1.0); margin: 10px 0 10px 0;">
            <br/> Make sure this rectangle fits to your browser window
          </div>
        </div>
        <center>
        <button onclick="start()" style="font-size:24px;">
            Start Task
        </button>
      </center>
    </div>
</body>


<script>
    let stories; // This will contain three(?) stories for the current participant.
    let storyIdx = 0; // Index number of the current story

    $.ready(() => {
        $(".page").addClass("hidden");
        $(".intro").removeClass("hidden");
    });

    function ajaxGet(reqJson, callback) {
        /* Example usage.
          ajaxGet({"action":"add", "JSON":JSON.stringify({'a':1234,'b':234})})
        */
        $.getJSON('ajaxGet', reqJson, callback);
    }

    function fetchStories() {
        // This method will be called once, when a new participant begins
        ajaxGet({
            "action": "fetchStories"
        }, (data) => {
            stories = data.stories;
        });
    }

    function renderStoryAndQuestion(si) {
        // For the given story index (si), it renders the story and question in the corresponding div
        $(".story_content").html(stories(si).story.html);
        $(".quiz_content").html(stories(si).quiz.html);

        // Showing the story page only
        $(".page").addClass("hidden");
        $(".story").removeClass("hidden");
    }

    function proceedToQuiz() {
        $(".page").addClass("hidden");
        $(".quiz").removeClass("hidden");
    }

    function proceedToNextStory() {
        storyIdx++;
        if (storyIdx == stories.length) {
            proceedToPostQuestionnaire();
        } else {
            renderStoryAndQuestion(storyIdx);
        }
    }

    function proceedToPostQuestionnaire() {
        $(".page").addClass("hidden");
        $(".post").removeClass("hidden");
    }

    function proceedToBye() {

    }

    function log(e) {
        if (e == "start") {
            // Pressing Start button
            let jsonString = JSON.stringify({
                "event": "Start Button",
                "ProlificID": document.getElementById("pID").value
            });
            ajaxGet({
                "action": "start",
                "json": jsonString
            }, (data) => {
                console.log(data);
            });
        } else if (e == "a specific event") {
            // DEFINE WHAT TO LOG
        } else if (e == "another specific event") {
            // DEFINE WHAT TO LOG
        }
    }

</script>

</html>
